{% extends "layout.html" %}
{% block content %}
<h1>About - 237Story</h1>
<div class="jumbotron text-center" style="margin-bottom:0">
	<img src=" {{ url_for('static', filename='logo/237storylow.png') }}">
  <h1> <font class="text-success" > 237 Story </font>
      <font class="text-danger"> by HK- </font>
      <font class="text-warning">Engineering </font>
  </h1>
  <p> Partagez en toute liberté vos histoires et réflexions </p> 
  <p>
  	<a href="mailto:contact@entreprendre.cm"> contact@entreprendre.cm </a>
  </p>
</div>
{% endblock content %}